apiVersion: apps/v1
kind: Deployment
metadata:
  name: directus-deployment
  labels:
    app: directus
spec:
  replicas: 1 # SQLite를 사용하는 경우 여러 개의 레플리카는 동기화 이슈가 발생할 수 있습니다.
  selector:
    matchLabels:
      app: directus
  template:
    metadata:
      labels:
        app: directus
    spec:
      containers:
      - name: directus
        image: gcr.io/[PROJECT_ID]/directus:latest # GCP GCR 이미지 경로
        ports:
        - containerPort: 8055
        env:
        - name: KEY
          value: "must-engage-key"
        - name: SECRET
          value: "must-engage-secret"
        - name: DB_CLIENT
          value: "sqlite3"
        - name: DB_FILENAME
          value: "/directus/database/data.db"
        - name: CORS_ENABLED
          value: "true"
        - name: CORS_ORIGIN
          value: "true"
        - name: WEBSOCKETS_ENABLED
          value: "true"
        - name: ADMIN_EMAIL
          value: "admin@example.com"
        - name: ADMIN_PASSWORD
          value: "password"
        # 배포 시 필요한 추가 환경 변수들...
